%h1 ドミニオンカードリスト & ランダムピッカー

.well
  = simple_form_for @pick do |f|
    = f.input :sets, as: :check_boxes, collection: Card.set.options, label_method: :first, value_method: :last, label_html: { class: 'sets' }
    = f.input :options, as: :check_boxes, collection: Pick::OPTIONS_FOR_SELECT, label_method: :first, value_method: :last, label_html: { class: 'options' }
    = f.input :cost_condition, as: :radio_buttons
    %p ※ 繁栄には2コストのカードはありません
    = f.submit 'Create', class: 'btn'
