%h1= t('official_recommended_picks')
%section
  %ul
    - @picks.each do |pick|
      %li
        = link_to t(pick.canonical_name, scope: 'picks.recommended', default: pick.name), pick_path(pick.pick_id)
        (#{pick.cards.sort_by(&:id).map{|c| t(c.set, scope: 'enumerize.card.set')}.uniq.join(', ')})

%h1= t('picks_by_others')
.timeline
  %a(class="twitter-timeline" href="https://twitter.com/search?q=dominion-cards.herokuapp.com" data-widget-id="256234896626950145")
    = t('picks_by_others')
