.page-header(style="display:none;")
  %h1 Card pick

.well
  %p.images
    - @cards.each do |card|
      = link_to image_tag(card.image_url, alt: card.name), "##{card.canonical_name}"

  %ul.picks
    - @cards.each do |card|
      %li
        %span.coin= card.cost_p
        = link_to "##{card.canonical_name}" do
          %strong>= card.name_j
        %span.set= card.set.text
  .tweet
    = link_to 'ツイート', "https://twitter.com/share", class: "twitter-share-button", data: {lang: 'ja', count: 'none', size: 'large'}
- @cards.each do |card|
  %section.card{id: card.canonical_name}
    %header
      %h2.name= card.name_j
      %span.coin= card.cost_p
      %span.set= card.set.text
      %span.kind= card.kind
    .description
      = card.description.html_safe

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), root_path, :class => 'btn'
