.page-header(style="display:none;")
  %h1 Card pick

.picks.well
  - [@pick.cards, @pick.appended_cards].each do |cards|
    %p.images
      - cards.each do |card|
        = link_to image_tag(card.image_url, alt: card.name), "##{card.canonical_name}"

  - [@pick.cards, @pick.appended_cards].each do |cards|
    %ul
      - cards.each do |card|
        %li
          %span.coin= card.cost_p
          %span.name
            = link_to card.name_j, "##{card.canonical_name}"
          %span.set= card.set.text

  - if @pick.consistent?
    .tweet_button
      = link_to 'ツイート', "https://twitter.com/share", class: "twitter-share-button",
        data: {lang: 'ja', count: 'none', size: 'large', text: "#{t('dominion_cards_title')}: 「#{@pick.cards.map(&:name_j).join(' ')}」を選びました！"}
      %p.pick_id ##{@pick.id}

- if @pick.sets.present?
  .form-actions
    = form_for @pick do |f|
      - [:sets, :promos, :options].each do |attr|
        - @pick.send(attr).each do |value|
          = f.hidden_field attr, value: value, multiple: true, id: nil
      = f.hidden_field :cost_condition, id: nil
      = f.fields_for :counts, OpenStruct.new(@pick.counts) do |field|
        - @pick.counts.each_key do |cost|
          = field.hidden_field cost, id: nil
      = f.submit t('helpers.submit.pick.repick'), id: 'repick'
    = link_to t('helpers.links.back'), root_path, :class => 'back'

- [@pick.cards, @pick.appended_cards].each do |cards|
  - cards.each do |card|
    %section.card{id: card.canonical_name}
      %header
        %h2.name= card.name_j
        %span.coin= card.cost_p
        %span.set= card.set.text
        %span.kind= card.kind
      .description
        = card.description.html_safe

.form-actions
  = link_to t('helpers.links.back'), root_path, :class => 'back'
