.page-header(style="display:none;")
  %h1 Card pick

.well
  %p.images
    - @cards.each do |card|
      = link_to image_tag(card.image_url, alt: card.name), "##{card.canonical_name}"

  %ul.picks
    - @cards.each do |card|
      %li
        = link_to "##{card.canonical_name}" do
          %strong= card.name_j
        (#{card.cost_p}) #{card.set.text}

- @cards.each do |card|
  %section.card{id: card.canonical_name}
    %header
      %h2.name= card.name_j
      %p.cost
        (#{card.cost_p}) #{card.set.text}
      %p.kind
        = card.kind
    .description
      = card.description.html_safe

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), cards_path, :class => 'btn'
