.page-header
  %h1= @card.name_j
  = image_tag(@card.image_url, alt: @card.name)

%dl.spec
  %dt= Card.human_attribute_name(:kana)
  %dd= @card.kana

  %dt= Card.human_attribute_name(:name)
  %dd= @card.name

  %dt= Card.human_attribute_name(:set)
  %dd
    %span.set= @card.set.text

  %dt= Card.human_attribute_name(:cost)
  %dd
    %span.coin= @card.cost

  %dt= Card.human_attribute_name(:potion)
  %dd= @card.potion || '-'

  %dt= Card.human_attribute_name(:division)
  %dd= @card.division || '-'

  %dt= Card.human_attribute_name(:kind)
  %dd= @card.kind || '-'

  %dt= Card.human_attribute_name(:treasure)
  %dd= @card.treasure || '-'

  %dt= Card.human_attribute_name(:victory)
  %dd= @card.victory || '-'

  %dt= Card.human_attribute_name(:cards)
  %dd= @card.cards || '-'

  %dt= Card.human_attribute_name(:actions)
  %dd= @card.actions || '-'

  %dt= Card.human_attribute_name(:buys)
  %dd= @card.buys || '-'

  %dt= Card.human_attribute_name(:coins)
  %dd= @card.coins || '-'

  %dt= Card.human_attribute_name(:vp_tokens)
  %dd= @card.vp_tokens || '-'

.description
  = @card.description.html_safe

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), cards_path, :class => 'btn'
